/* ~ ats-ui.css
  .---------------------------------------------------------------------------.
  |  Software: Anytimestream Technologies Limited - UI                       |
  | ------------------------------------------------------------------------- |
  |     Admin: Norman Osaruyi (project admininistrator)                       |
  |   Authors: Norman Osaruyi norman.osaruyi@anytimestream.com                |
  |   Founder: Anytimestream Technologies Limited                             |
  | Copyright (c) 2018. Anytimestream Technologies LTD. All Rights Reserved.  |
  | ------------------------------------------------------------------------- |
  |   License: Distributed under the Lesser General Public License (LGPL)     |
  |            http://www.gnu.org/copyleft/lesser.html                        |
  | This program is distributed in the hope that it will be useful - WITHOUT  |
  | ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or     |
  | FITNESS FOR A PARTICULAR PURPOSE.                                         |
  '---------------------------------------------------------------------------'
 */

form .ats-ui ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}

form .ats-ui :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

form .ats-ui ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}
form .ats-ui {
    padding: 0;
    margin: 0;
}
form.ats-ui .row {
    margin-bottom: 10px !important;
}
form.ats-ui button {
    border: 0;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
form.ats-ui button[type=reset] {
    color: #333;
    background-color: #ddd;
}
form.ats-ui button[type=submit] {
    color: #fff;
    background-color: #337ab7;
}
form.ats-ui .input {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
form.ats-ui .input[type=checkbox] {
    max-width: 30px;
}
form.ats-ui textarea.input {
    height: auto;
}
form.ats-ui .error {
    border-color: #c02;
}
form.ats-ui div.error {
    color: #c02;
    line-height: 2;
}
form.ats-ui label {
    text-align: right;
    width: 100%;
    padding: 6px 10px 6px 0;
    display: block;
    line-height: 1.42857143;
}
form.ats-ui label span.required{
    line-height: 1.42857143;
    padding: 6px 2px;
    color: #c02;
}
